:root{
    --darkColor: #652CB3;
    --darkerColor:#2e1353;
    --lightColor: #FAC710;
    --lighterColor: #fff5d3;
}

/*Menu Bar ===================================================*/
.menu_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--darkerColor);
    color: var(--lighterColor);
    position: sticky;
    top: 0;
    width: 100%;
    transition-duration: 1s;
}

.menu_bar .hide {
    opacity: 0;
    display: none;
}

.access_button {
    padding: 10px;
    display: none;
    margin: 0;
}

#access_icon_show:hover .access_icon_box {
    fill: var(--lightColor);
}

.access_hide #line1 {
    transform: translateX(64px) translateY(-26px) rotate(45deg);
}

.access_hide #line2 {
    transform: translateX(-46px) translateY(46px) rotate(-45deg);
}

.access_hide #line3 {
    fill-opacity: 0%;
}

.access_icon_box {
    fill: var(--lighterColor);
    transition-duration: 0.25s;
}

.access_icon_line {
    fill: var(--darkerColor);
    transition-duration: 0.25s;
}

.menu_bar li { float: left; transition-duration: 0.25s; }
.menu_bar li:hover { background-color: var(--darkColor); cursor: pointer; }

.menu_bar li div {
    display: block;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    font-size: 17pt;
}

@media screen and (max-width: 750px) {
    .menu_bar li {float: none;}
    .access_button {display:inline;}
}
/*===========================================================*/

div.header {
    color: var(--lighterColor);
    background-color: var(--darkColor);
    text-align: center;
    font-size: large;
    padding: 2%;
}

.headline {
    margin-top: 10%;
    text-align: center;
}

.image {
    margin-left: 1%;
}

.paragraph {
    font-size: large;
}

.icon {
    fill: var(--darkColor);
}

.link {
    text-decoration: underline;
    transition-duration: 0.1s;
}

.link:hover {
    color: #ff004c;
    fill: #ff004c;
    cursor: pointer;
}

.flags {
    margin-left: 1%;
    border-radius: 50%;
}

.flags > img {
    border-radius: 10px;
}

body{
    font-family: 'Marmelad', sans-serif;
    background-color: var(--lighterColor);
    color: var(--darkColor);
    margin-left:0%;
    margin-right:0%;
    margin-top:0%;
}