:root{
    /*COLORS*/
    --darkColor: #58279c;
    --darkerColor:#2e1353;
    --lightColor: #FAC710;
    --lighterColor: #d7f2fd;
    --lighterColorAlt: #b9ebff;
    --lighter2Color: #eefaff;
    --linkColor: #0059ff;
    --linkColor_hover: #ff0062;

    --hydrogel-Color: rgb(4, 0, 255);
    --modeling-Color: rgb(255, 51, 0);
    --wiki-Color: rgb(153, 0, 255);
    --microbiology-Color: rgb(0, 214, 107);
    --funding-Color: rgb(255, 180, 20);

    /*GLOBAL VARIABLES*/
    --column_scale: 0%;
    --wound-overlay: 0%;
}

* {
    box-sizing: border-box;
}

body{
    font-family: 'Marmelad', sans-serif;
    background-color: var(--lighterColor);
    color: var(--darkColor);
    margin-left:0%;
    margin-right:0%;
    margin-top:0%;
}

.headline {
    text-align: center;
    font-size: 40pt;
    margin-top: 30px;
    margin-bottom: 30px;
    z-index: 2;
}

.link {
    color: var(--linkColor);
    text-decoration: underline;
    transition-duration: 0.3s;
}

.link:hover {
    color: var(--linkColor_hover);
    fill: #ff004c;
    cursor: pointer;
}

.paragraph {
    font-size: 15pt;
    font-weight: 550;
    padding: 15px;
    height: fit-content;
    /*
    // OLD Attempt of box around paragraph
    border-color: var(--darkColor);
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    background-color: var(--lighter2Color);
    box-shadow: 10px 10px;
    */
    animation: appear-from-right;
    animation-duration: 1s;
    z-index: 2;
}

img {
    z-index: 2;
}

.sub-headline {
    font-size: 18pt;
}

.appear-right {
    transform: translateX(75px);
    opacity: 0;
    transition: 1s all ease;
}

.appear-left {
    transform: translateX(-75px);
    opacity: 0;
    transition: 1s all ease;
    transition-delay: var(--appear-delay);
}

.appear-right.active, .appear-left.active {
    transform: translateY(0);
    opacity: 1;
}

@media screen and (max-width: 750px) {
    .appear-left, .appear-right {transform: translateY(0); opacity: 1;}
}

@keyframes rotate_around{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}