.headline-deco-container {
    position: relative;
    margin:0;
    padding:0;
    z-index: 1;
}

.headline-deco-ref-point {
    position: absolute;
}

#headline_Decoration, #headline_Medicine {
    position: absolute;
    margin: 0;
    padding: 0;
}

#headline_Decoration {
    fill: var(--lighterColorAlt);
    transform: scale(130%, 130%);
}

#headline_Medicine {
    fill: var(--lighterColorAlt);
    transform: scale(130%);
}

#headline_DNA {
    fill: var(--lighterColor);
    transform: scale(111%);
}



#headline_Decoration #Gear1, #headline_Decoration #Gear2 {
    transform-origin: center center;
    transform-box: fill-box;
    animation-name: rotate_around;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#headline_Decoration #Gear2 {
    animation-direction: reverse;
}