.headline-deco-container {
    position: relative;
    margin:0;
    padding:0;
    z-index: -1;
}

#Headline_Decoration {
    fill: var(--lighterColorAlt);
    position: absolute;
    margin: 0;
    padding: 0;
    transform: scaleX(130%) scaleY(130%);
}

#Headline_Decoration #Gear1, #Headline_Decoration #Gear2 {
    transform-origin: center center;
    transform-box: fill-box;
    animation-name: rotate_around;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#Headline_Decoration #Gear2 {
    animation-direction: reverse;
}