.slide5 {
    grid-template-columns: auto auto auto;
    grid-auto-flow: row;
}

.slide5-header {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 4;
}

.slide5-item {
    width: 100%;
    margin-left: 25%;
    height: fit-content;
    padding: 20px;
}

.team-image {
    width: 50%;
    border-radius: 10%;
}

.team-description {
    width: 50%;
    text-align: center;
    padding: 0;
    margin: 0;
}



@media screen and (max-width: 750px) {
    .slide5 { grid-template-columns: auto;}
    .slide5-header {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 1;
    }
}