.slide5 {
    grid-template-columns: auto auto auto auto auto auto;
    grid-auto-flow: row;
    z-index: 3;
}

.slide5-header {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 7;
    z-index: 3;
}

.slide5-item {
    width: 1fr;
    height: auto;
    padding: 20px;
    z-index: 3;
}

.team-image {
    width: 50%;
    margin-left: 25%;
    height: auto;
    border-radius: 20px;
}

.team-description .hydrogel {
    background-color: var(--hydrogel-Color);
    color: white;
    padding: 1.5px;
    border-radius: 4px;
}

.team-description .modeling {
    background-color: var(--modeling-Color);
    color: white;
    padding: 1.5px;
    border-radius: 4px;
}

.team-description .public_outreach {
    background-color: var(--wiki-Color);
    color: white;
    padding: 1.5px;
    border-radius: 4px;
}

.team-description .team_instructor {
    background-color: rgb(15, 127, 255);
    color: white;
    padding: 1.5px;
    border-radius: 4px;
}

.team-description .microbiology {
    background-color: var(--microbiology-Color);
    color: white;
    padding: 1.5px;
    border-radius: 4px;
}

.team-description .funding {
    background-color: var(--funding-Color);
    color: black;
    padding: 1.5px;
    border-radius: 4px;
}

.team-description {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}



@media screen and (max-width: 750px) {
    .slide5 { grid-template-columns: auto;}
    .slide5-header {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 1;
    }
}