.slide6 {
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: row;
    background-color: var(--lighterColorAlt);
}

.slide6-header {
    grid-row-start: auto;
    grid-row-end: auto;
    grid-column-start: 1;
    grid-column-end: 5;
}

.slide6-item {
    width: 1fr;
    height: auto;
    padding: 20px;
}

.supporter-image {
    width: 50%;
    margin-left: 25%;
    height: auto;
    border-radius: 20px;
}

.supporter-description {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}



@media screen and (max-width: 750px) {
    .slide6 { grid-template-columns: auto;}
    .slide6-header {
        grid-row-start: auto;
        grid-row-end: auto;
        grid-column-start: 1;
        grid-column-end: 1;
    }
}