.slide2-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /*Creates a 2 column grid*/
    grid-template-areas: 'header header' 'left_side right_side';
    gap: 10px;
    padding: 10px;
    margin-bottom: 400px;
}

.slide2-header {
    grid-area: header;
}

.slide2-left {
    grid-area: left_side;
    height: 800px;
    width: 100%;
}

.slide2-right {
    grid-area: right_side;
    margin-left: 12.5%;
    width: 75%;
    margin-top: 37.5%;
}

@media screen and (max-width: 750px) {
    .slide2-container { grid-template-areas: 'header header' 'left_side left_side' 'right_side right_side'; }
}

@media screen and (min-width: 1100px) {
    .slide2-left { margin-left: 30%; }
}

@media screen and (max-width: 1100px) {
    .slide2-right { margin-top: 50%; }
}