.slide7 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'header header header' 'left_side middle_side right_side';
}

.slide7-header {
    grid-area: header;
}

.slide7-left {
    grid-area: left_side;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.slide7-middle {
    grid-area: middle_side;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.slide7-right {
    grid-area: right_side;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 750px) {
    .slide7 {grid-template-areas: 'header header header' 'left_side left_side left_side' 'middle_side middle_side middle_side' 'right_side right_side right_side';}
    .slide7-header, .slide7-left, .slide7-middle, .slide7-right {margin-top:5%;}
}