#synBio-wheel {
    transform-origin: center center;
}

#synBio-wheel_inner-arrows{
    transform-origin: center center;
    animation-name: rotate_around;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#synBio-wheel_outer-circle {
    transform-origin: 50% 50.75%;
    animation-name: rotate_around;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}