#synBio-wheel {
    transform-origin: center center;
}

#synBio-wheel_inner-arrows{
    transform-origin: center center;
    transform-box: fill-box;
    animation-name: rotate_around;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#synBio-wheel_outer-circle {
    transform-origin: center center;
    transform-box: fill-box;
    animation-name: rotate_around;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#rotating_molecule {
    transform-origin: center center;
    transform-box: fill-box;
    animation-name: rotate_around;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}